*{
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.content-form {
    padding: 2rem;
    text-align: center;
}

.content-form h1 {
    font-size: 3rem;
    /* padding: 5em; */
    /* margin: 5em; */
}

.customForm {
    text-align: left;
    font-size: 1.8rem;
}